body {
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: darkorange;
}

h1 {
    background-color: darkblue;
    font-weight: 500;
    margin: 0;
    padding: .25em;
}

nav {
    background-color: mediumblue;
    flex-grow: 1;
    padding: 1em;
}

.navlist {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --illini-orange: hsl(11, 100%, 50%);
    --illini-blue: hsl(216, 100%, 50%);
}