main {
    margin: 1%;
    padding: 1%;
}

h4 {
    text-decoration: underline;
    color: darkorange;
}

table {
    background-color: cornsilk;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid darkorange;
    margin: 0.5rem;
    padding: 0.5rem;
    word-wrap: break-word;
}

button {
    background-color: darkorange;
    padding: .25em;
}

.menu {
    background-color: darkblue;
    border: 1px solid darkorange;
    padding: .25em;
}

#schedule {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1%;
    list-style: none;
}

.semester {
    background-color: darkblue;
    border: 1px solid darkorange;
    margin: 1%;
    padding: 1%;
}