{% extends "base.html" %}
{% block title %}Schedule{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}"/>
{% endblock %}

{% block main %}
<div class="menu">
    <h4>Menu</h4>
    <button onclick="addSemester()">Add Semester</button>
    <button onclick="removeSemester()">Remove Semester</button>
</div>

<ol id="schedule"></ol>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/schedule.js') }}" charset="utf-8"></script>
{% endblock %}